* {
    box-sizing: border-box;
}

/* write your rules below  this line*/

.blue-text {
    color:blue;
    background-color: cyan;
}

html {
    text-align: center;
}

.green-text {
    color:green;
    background-color:black;

}

.dark-bg {
    background-color:black;
}

.light-text {
    color:white
}

.rounded {
    border-radius:10px; 
}

.spaced-out {
    padding:20px;
}

#page-title {
    font-size:40px;
    text-align: center;
}

.bg-purple {
   background-color:purple;
}
    
.big-text {
    font-size:50px;
}

.rainbow-bg {
  background: linear-gradient(
    124deg,
    #e81416, 
    #ffa500, 
    #faeb36, 
    #79c314,
    #487de7, 
    #4b369d,
    #70369d  
  )
}

html {
    background-color:black;
    color:yellow;
}

.underline {
    text-underline-position: below;
}
.rgb-bg {
  background: linear-gradient(
    124deg,
    #ff2400,
    #e81d1d,
    #e8b71d,
    #e3e81d,
    #1de840,
    #1ddde8,
    #2b1de8,
    #dd00f3,
    #dd00f3

  );
  background-size: 1800% 1800%; 
  animation: rainbow 18s ease infinite;
  /
}
@keyframes rainbow {
  0% {
    background-position: 0% 80%;
  }
  50% {
    background-position: 100% 20%;
  }
  100% {
    background-position: 0% 80%;
  }
}

.white-text {
    color:white;
}